<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <form method="POST" action="\" >
        {{ form.csrf_token }}
        <h2> Регистрация. </h2>
            <p>
                {{ form.username.label }} <br>
                {{ form.username(size=32) }}
            </p>

            <p>
                {{ form.email.label }} <br>
                {{ form.email(size=32) }}
            </p>

            <p>
                {{ form.password.label }} <br>
                {{ form.password(size=32) }}
            </p>

            <p>
                {{ form.confirm_password.label }} <br>
                {{ form.confirm_password(size=32) }}
            </p>

            <p>
                <input type="submit" value="Зарегестрироваться">
    </form>
</body>
</html>